.App {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.App-logo {
  height: 150px;
  width: 375px;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.App-circle {
  height: 120px;
  width: 120px;
}

/**********************************************/

.Footer-home-icon {
  position: relative;
  top: 40px;
  right: 3px;
  left: 5px;
  height: 50px;
  width: 50px;
}
